body {
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', Arial, sans-serif;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0D47A1;
    color: #FFF;
}

header {
    background-color: #1565C0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    margin: 0 10px;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 32px;
}

.hero p {
    font-size: 18px;
}

footer {
    background-color: #1565C0;
    padding: 20px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    margin-top: auto;
}

.hero img {
    width: 50%;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
    object-fit: contain;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

.download-button:not(:first-child) {
    margin-left: 10px; 
}

.download-button:hover {
    background-color: #E0E0E0;
    color: #000;
}
